{% extends "base.html" %} {% block title %} About Us {% endblock %} {% block
content %}
<div class="container about-page mt-4">
  <h1>About Us</h1>
  <p>
    Welcome to Pawesome Adoptions! We are dedicated to helping pets find their
    forever homes.
  </p>
  <p>
    Our mission is to provide a platform where shelters, organizations, and
    individuals can connect with potential adopters and facilitate the adoption
    process.
  </p>
  <p>
    At Pawesome Adoptions, we believe that every paw deserves a loving home.
    Join us in our mission to make a difference in the lives of pets and their
    future families.
  </p>
  <p>
    This Page was developed by Sarvesh Soni, Shraddha Gupta and Harsh Lotia for
    ADT - Spring 2024 Final Project.
  </p>

  <div class="contact-methods mt-4">
    <h2>Connect With Us</h2>
    <p>
      If you wish to add pets to the list for adoptions, have any queries or
      need assistance, please reach out to us:
    </p>
    <ul class="list-unstyled">
      <li>
        <i class="fa fa-envelope"></i> Email:
        <a href="mailto:support@pawesomeadoptions.com"
          >support@pawesomeadoptions.com</a
        >
      </li>
    </ul>
  </div>
</div>
{% endblock %}
